body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000017;
}

body div {
    width: 690px;
    margin-left: 32px;
}

#title {
    color: #d4d4d4;
    margin-block-end: 0.2em;
}

#subtitle {
    color: #d4d4d4;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    font-weight: normal;
}

#caption {
    display: flex;
    justify-content: end;
    color: #737373;
    font-size: 0.8rem;
    word-break: break-all;
}

.tick {
    color: #a3a3a3;
    font-size: 0.75rem;
}

.domain {
    color: #a3a3a3;
}

.axis-label {
    fill: #a3a3a3;
    font-size: 0.7rem;
}